<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- bean -->
	<bean id="mycity" class="com.timbuchalka.springdemo.domain.City"></bean>

	<!-- bean -->
	<bean id="myorg"
		class="com.timbuchalka.springdemo.domain.Organization"
		scope="prototype" c:companyName="Google"
		c:yearOfIncorpotation_CP="1996" c:address-ref="address"
		p:employeeCount="127546" p:businessService-ref="ecommerceService">

		<!-- constructor-arg index value -->
		<!-- <constructor-arg index="0" value="Google"></constructor-arg> -->

		<!-- constructor-arg name value -->
		<!-- <constructor-arg name="yearOfIncorpotation_CP" value="1996"></constructor-arg> -->

		<!-- property name value -->
		<!-- <property name="employeeCount"> <value>127546</value> </property> -->

		<!-- property name ref -->
		<!-- <property name="businessService" ref="ecommerceService"></property> -->
	</bean>

	<!-- bean -->
	<bean id="address"
		class="com.timbuchalka.springdemo.domain.Address"
		c:street="Blue Berry Lane" c:city="Los Angeles" c:zipCode="75757">

	</bean>

	<!-- bean -->
	<bean id="organizationFactory"
		class="com.timbuchalka.springdemo.domain.OrganizationFactory">
	</bean>

	<!-- bean -->
	<bean id="cloudService"
		class="com.timbuchalka.springdemo.serviceimpl.CloudServiceImpl">
	</bean>

	<!-- bean -->
	<bean id="ecommerceService"
		class="com.timbuchalka.springdemo.serviceimpl.EcommerceServiceImpl">
	</bean>


	<!-- bean -->
	<bean id="agencyRecruit"
		class="com.timbuchalka.springdemo.serviceimpl.AgencyRecruitmentServiceImpl">
	</bean>

	<!-- bean -->
	<bean id="referralRecruit"
		class="com.timbuchalka.springdemo.serviceimpl.ReferralRecruitmentServiceImpl">
	</bean>

	<!-- bean -->
	<bean id="myhrdept"
		class="com.timbuchalka.springdemo.domain.HumanResourceDept">

		<!-- constructor-arg name ref -->
		<constructor-arg name="recruitmentService"
			ref="agencyRecruit"></constructor-arg>

		<!-- constructor-arg name ref -->
		<constructor-arg name="organization" ref="myorg"></constructor-arg>

		<!-- property value name value -->
		<property name="deptName" value="Human Resource Department"></property>

	</bean>

	<!-- bean -->
	<bean id="industrialProduct"
		class="com.timbuchalka.springdemo.domain.product.IndustrialProduct">
	</bean>

	<!-- bean -->
	<bean id="consumerProduct"
		class="com.timbuchalka.springdemo.domain.product.ConsumerProduct">
	</bean>

	<!-- bean -->
	<bean id="tradeFair"
		class="com.timbuchalka.springdemo.domain.promotion.TradeFair">
	</bean>

	<context:annotation-config></context:annotation-config>

</beans>
